- @page_title = "Delete Team Member Entry"
= link_to("<< назад", {:action => 'index'}, :class => 'back-link')
.delete
  %h2 Удаляем баннер
  = form_for(:banner, :method => :delete, :url => {:action => 'destroy', :id => @banner.id}) do |f|
    %p уверены?
    .form-buttons
      = submit_tag("удаляем")

