- @page_title = "Удаление трансляции"
= link_to("<< назад", {:action => 'index'}, :class => 'back-link')
.delete
  %h2 Удаляем транцляцию
  = form_for(:audio_entry, :method => :delete, :url => {:action => 'destroy', :id => @audio_entry.id}) do |f|
    %p уверены?
    .form-buttons
      = submit_tag("удаляем")

