- @page_title = "Update Audio Entry"
= link_to("<< назад", {:action => 'index'}, :class => 'btn btn-xs btn-warning back-link')
%h2 обновить выпуск
= form_for [:admin, @audio_entry], :html => {:multipart => true} do |f|
  = render(:partial => "form", :locals => {:f => f})
  .form-buttons
    = submit_tag("обновить")

