- @page_title = "New News Article"
= link_to("<< назад", {:action => 'index'}, :class => 'btn btn-primary')
.products.new
  %h2 добавить трансляцию
  = form_for(:news_entry, :url => {:action => 'create'}) do |f|
    = render(:partial => "form", :locals => {:f => f})
    .form-buttons
      = submit_tag("создать")
