- @page_title = "Delete Team Member Entry"
= link_to("<< назад", {:action => 'index'}, :class => 'back-link')
.delete
  %h2 Удаляем исполнителя
  = form_for(:performer, :method => :delete, :url => {:action => 'destroy', :id => @performer.id}) do |f|
    %p уверены?
    .form-buttons
      = submit_tag("удаляем")

