// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logoimg{
width:160px;
height:70px;
background:url(/assets/logo.png) center center no-repeat;
padding-top:0px;
}
