#audio-wrap
  %section{:id => 'audio', :class => 'player'}
  #player-close.glyphicon.glyphicon-remove
.container
  .row
    .col-12.center
      =link_to @audio_entry.permalink.url, class: "html5" do
        .play-button
    .col-12.home-content
      = @page_section_content.content.html_safe
  .row
    .col-12
      %hr.fullhr
  .row
    .col-lg-4.col-4.col-xs-4.center=image_tag "ntv.png"
    .col-lg-4.col-4.col-xs-4.center=image_tag "courier.png"
    .col-lg-4.col-4.col-xs-4.center=image_tag "parter.png"
  .row  
    .col-12
      %hr.fullhr
  .row
    %h1.performer-title.center Наши гости
  -@guests.each do |g|
    .row
      .col-lg-4.col-4.col-sm-12.performer-photo
        =image_tag g.photo.url
      .col-lg-7.col-7.col-sm-10.col-xs-10.performer-content
        .performer-name=g.title
        .performer-description=g.description
        .performer-play.center
          =link_to g.permalink.url, class: "html5" do
            .play-button-sm
  .row  
    .col-12
      %hr.fullhr
  .row
    %h1.performer-title.center Наши таланты
  -@talents.each do |g|
    .row
      .col-lg-4.col-4.col-sm-12.performer-photo
        =image_tag g.photo.url
      .col-lg-7.col-7.col-sm-10.col-xs-10.performer-content
        .performer-name=g.title
        .performer-description=g.description
        .performer-play.center
          =link_to g.permalink.url, class: "html5" do
            .play-button-sm

  
